* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 { color: inherit; }

img { object-fit: cover; }

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(100% - 3rem, 1200px);
  margin: 0 auto;
}

/* --------- HEADER ------------ */

header {
  background-color: #fefeed;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.fig-logo { height: 100%; }
#logo { height: 100%; }

header nav { width: 40%; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav_item {
  filter: drop-shadow(5px 5px 8px #7777775f);
}

.nav_item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.3rem 1.4rem;
  text-align: center;
  color: #13477c;
  background-color: rgba(31, 111, 191, 0.159);
  transition: 0.3s;
  border-radius: 0.5rem;
}
.nav_item a:hover {
  background-color: rgba(31, 111, 191, 0.3);
  color: #fcfcfc;
}

.nav_item a:active { background-color: rgba(31, 111, 191, 0.5); }

/* --------- TELA PRINCIPAL ----------- */

main { margin-top: 10vh; }

#tela_main {
  position: relative;
  background: #e8f0f2;
  
  & .container {
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & section{ display: flex; }

}

#tela_main h1 {
  font-size: 8rem;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
#tela_main p {
  font-size: 2rem;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.viola_veu{
    background-color: #f9f9f9;
    height: 60%;
    width: 20%;
    &.block{
        position: absolute;
        left: 0;
    }
}

.text.viola_veu {
    width: 60%;
    color: #13477c;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    border-radius: 0 150rem 25rem 0;
}

.sect-img_main{
    width: 40%;
    height: 100%;
}

#img_main {
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
}

#blur_main{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(143, 143, 116, 0.624) 4%, rgba(19, 19, 19, 0) 75%);
    z-index: 1;
}
